<ion-content>
  <br><br>
  <div class="center">
    <img src="../../../assets/icon/logo_devskill@2x.png" width="8%">
  </div>

  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col>
        <h5>Registrati</h5>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <form [formGroup]="mioForm" (ngSubmit)="register()">
    
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>

        <ion-col>
          
          <ion-item class="ion-align-self-start">
            <ion-label for="nome" position="stacked">Nome:</ion-label>
            <ion-input color="primary" type="text" id="nome" name="nome" formControlName="nome" [ngModel]="nome"></ion-input>
            <ion-icon color="secondary" slot="end" name="person"></ion-icon>
          </ion-item>
          <h6 style="font-size: small;">Inserisci Nome</h6>

          <ion-item>
            <ion-label for="cogn" position="stacked">Cognome:</ion-label>
            <ion-input color="primary" type="text" id="cognome" name="cognome" formControlName="cognome" [ngModel]="cognome"></ion-input>
            <ion-icon color="secondary" slot="end" name="person"></ion-icon>
          </ion-item>
          <h6 style="font-size: small;">Inserisci Cognome</h6>
          
          <ion-item class="ion-align-self-start">
            <ion-label for="username" position="stacked">Username:</ion-label>
            <ion-input color="primary" type="text" id="username" name="username" formControlName="username" [ngModel]="username"></ion-input>
            <ion-icon color="secondary" slot="end" name="mail"></ion-icon>
          </ion-item>
          <h6 style="font-size: small;">Inserisci Username</h6>
          
          <ion-item>
            <ion-label for="pass" position="stacked">Password:</ion-label>
            <ion-input color="primary" type="password" id="pass" name="pass" formControlName="password" [ngModel]="password"></ion-input>
            <ion-icon color="secondary" slot="end" name="lock-closed"></ion-icon>
          </ion-item>
          <h6 style="font-size: small;">Inserisci Password(minimo 8 caratteri)</h6>
          
          <ion-item>
            <ion-label for="cpass" position="stacked">Conferma password:</ion-label>
            <ion-input color="primary" type="password" id="pass" name="pass" formControlName="confPassword"></ion-input>
            <ion-icon color="secondary" slot="end" name="lock-closed"></ion-icon>
          </ion-item>
          <h6 style="font-size: small;">Conferma Password(minimo 8 caratteri)</h6>

        </ion-col>

        <ion-col></ion-col>

      </ion-row>

      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button color="secondary" type="submit" [disabled]="!mioForm.valid">
            Registrati
        </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <h5>Sei giá registrato?</h5><a routerLink="/login">Vai a login</a>
        </ion-col>
      </ion-row>

    </ion-grid>  

    <app-toolbar-inferiore></app-toolbar-inferiore>
  </form>
</ion-content>