<ion-header>
  <app-toolbar-superiore></app-toolbar-superiore>
</ion-header>

<ion-content>
  <form>
    <ion-grid>

      <ion-row class="ion-text-center">
        <ion-col>
          <h5>Registrati</h5>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>

        <ion-col>
          
          <ion-item class="ion-align-self-start">
            <ion-label for="nome" position="stacked">Nome:</ion-label>
            <ion-input type="text" id="nome" name="nome"></ion-input>
            <ion-icon color="secondary" slot="end" name="person"></ion-icon>
          </ion-item>
          <h6 style="font-size: small;">Inserisci Nome</h6>

          <ion-item>
            <ion-label for="cogn" class="center" position="stacked">Cognome:</ion-label>
            <ion-input type="text" id="cogn" name="cogn" minlength="8"></ion-input>
            <ion-icon color="secondary" slot="end" name="person"></ion-icon>
          </ion-item>
          <h6 style="font-size: small;">Inserisci Cognome</h6>
          
          <ion-item class="ion-align-self-start">
            <ion-label for="username" position="stacked">Username:</ion-label>
            <ion-input type="text" id="username" name="username"></ion-input>
            <ion-icon color="secondary" slot="end" name="mail"></ion-icon>
          </ion-item>
          <h6 style="font-size: small;">Inserisci Username</h6>

          <ion-item>
            <ion-label for="data" class="center" position="stacked">Data di nascita:</ion-label>
            <ion-input type="date" id="data" name="mail"></ion-input>
          </ion-item>
          <h6 style="font-size: small;">Inserisci Data di nascita</h6>
          
          <ion-item>
            <ion-label for="pass" class="center" position="stacked">Password:</ion-label>
            <ion-input type="password" id="pass" name="pass" minlength="8"></ion-input>
            <ion-icon color="secondary" slot="end" name="lock-closed"></ion-icon>
          </ion-item>
          <h6 style="font-size: small;">Inserisci Password(minimo 8 caratteri)</h6>
          
          <ion-item>
            <ion-label for="cpass" class="center" position="stacked">Conferma password:</ion-label>
            <ion-input type="password" id="pass" name="pass" minlength="8"></ion-input>
            <ion-icon color="secondary" slot="end" name="lock-closed"></ion-icon>
          </ion-item>
          <h6 style="font-size: small;">Conferma Password(minimo 8 caratteri)</h6>

        </ion-col>

        <ion-col></ion-col>

      </ion-row>

      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button color="secondary">
            Registrati
        </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>  

    <app-toolbar-inferiore></app-toolbar-inferiore>
  </form>
</ion-content>