.center{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: transperent;
}

.native-input[type=date]::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

.ion-padding{
    padding-top: 5%;
    padding-bottom: 5%;
}
